#top .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
    align-items: center;
}

#top .info .square{
    border: 10px solid #74a892;
    opacity: .6;
    width: 350px;
    height: 350px;
    position: absolute;
    z-index: 0;
    top: -70%;
    left: -39%;
}

#top .info{
    padding: 15px;
    position: relative;
    z-index: 1;
}

#top .info h1{
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: fantasy;
    letter-spacing:4px;
    color: #092c4c;
    margin-bottom: 1rem;
    z-index: 1;
}

#top .info p{
    position: relative;
    color: 	#bd4c4b;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #005485;
    margin-bottom: 4rem;
    z-index: 1;   
}

#top .img .background-img{
    background: url("../img/TRANSPARENTBEE.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 400px;
    height: 500px;
}